site_name: Mis Documentaciones
site_url: https://pabloceda.github.io/Mis-Documentaciones/

theme:
  name: material
  # Paleta de colores (modo oscuro/claro)
  palette: 
    # Modo Oscuro
    - scheme: slate
      primary: teal
      accent: purple 
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro
    # Modo Claro
    - scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro

  # Características extra (pestañas, búsqueda rápida)
  features:
    - navigation.tabs
    - search.suggest

# Extensiones para iconos, emojis y código
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
